<div class="flex bg-[#161616] h-[91vh]">
    <!-- RIGHT -->
    <div class="translate-x-0 lg:translate-x-[40vw] xl:translate-x-[30vw] text-white mx-4 md:mx-12 mt-16">

        <h1 class="text-6xl heading font-bold mt-4">
            Health Challenge <br/> Tracker
        </h1>

        <p class="text-lg mt-6 mr-6">
            Add your workouts and start your fitness journey today.
        </p>

        <button class="bg-cyan-100 text-cyan-950 p-2 font-bold rounded mt-10">
            <a routerLink="/explore" class="flex items-center gap-1">
                <i class="pi pi-compass" style="font-size: 1rem;"></i>
                Explore Workouts
            </a>
        </button>
    </div>

</div>
